src/main/webapp/assets/static/sample-xsd.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:tns="https://github.com/chenjianjx/wsdl2html" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="https://github.com/chenjianjx/wsdl2html">
<types>
<xsd:schema>
<xsd:import namespace="https://github.com/chenjianjx/wsdl2html" schemaLocation="sample-xsd-schema.xml"></xsd:import>
</xsd:schema>
</types>
<message name="empty">
<part name="parameters" element="tns:empty"></part>
</message>
<message name="emptyResponse">
<part name="parameters" element="tns:emptyResponse"></part>
</message>
<message name="newPost">
<part name="parameters" element="tns:newPost"></part>
</message>
<message name="newPostResponse">
<part name="parameters" element="tns:newPostResponse"></part>
</message>
<message name="updatePost">
<part name="parameters" element="tns:updatePost"></part>
</message>
<message name="updatePostResponse">
<part name="parameters" element="tns:updatePostResponse"></part>
</message>
<message name="getAllPosts">
<part name="parameters" element="tns:getAllPosts"></part>
</message>
<message name="getAllPostsResponse">
<part name="parameters" element="tns:getAllPostsResponse"></part>
</message>
<message name="deletePostById">
<part name="parameters" element="tns:deletePostById"></part>
</message>
<message name="deletePostByIdResponse">
<part name="parameters" element="tns:deletePostByIdResponse"></part>
</message>
<message name="getPostsByIds">
<part name="parameters" element="tns:getPostsByIds"></part>
</message>
<message name="getPostsByIdsResponse">
<part name="parameters" element="tns:getPostsByIdsResponse"></part>
</message>
<message name="getAllPostsWithoutOverload">
<part name="parameters" element="tns:getAllPostsWithoutOverload"></part>
</message>
<message name="getAllPostsWithoutOverloadResponse">
<part name="parameters" element="tns:getAllPostsWithoutOverloadResponse"></part>
</message>
<message name="getAllPostIdsWithoutOverload">
<part name="parameters" element="tns:getAllPostIdsWithoutOverload"></part>
</message>
<message name="getAllPostIdsWithoutOverloadResponse">
<part name="parameters" element="tns:getAllPostIdsWithoutOverloadResponse"></part>
</message>
<message name="refreshToken">
<part name="parameters" element="tns:refreshToken"></part>
<part name="oldToken" element="tns:oldToken"></part>
</message>
<message name="refreshTokenResponse">
<part name="result" element="tns:refreshTokenResponse"></part>
</message>
<message name="oldOrEven">
<part name="parameters" element="tns:oldOrEven"></part>
</message>
<message name="oldOrEvenResponse">
<part name="parameters" element="tns:oldOrEvenResponse"></part>
</message>
<portType name="BbsWebService">
<operation name="empty">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="https://github.com/chenjianjx/wsdl2html/BbsWebService/emptyRequest" message="tns:empty"></input>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="https://github.com/chenjianjx/wsdl2html/BbsWebService/emptyResponse" message="tns:emptyResponse"></output>
</operation>
<operation name="newPost">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="https://github.com/chenjianjx/wsdl2html/BbsWebService/newPostRequest" message="tns:newPost"></input>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="https://github.com/chenjianjx/wsdl2html/BbsWebService/newPostResponse" message="tns:newPostResponse"></output>
</operation>
<operation name="updatePost">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="https://github.com/chenjianjx/wsdl2html/BbsWebService/updatePostRequest" message="tns:updatePost"></input>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="https://github.com/chenjianjx/wsdl2html/BbsWebService/updatePostResponse" message="tns:updatePostResponse"></output>
</operation>
<operation name="getAllPosts">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="https://github.com/chenjianjx/wsdl2html/BbsWebService/getAllPostsRequest" message="tns:getAllPosts"></input>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="https://github.com/chenjianjx/wsdl2html/BbsWebService/getAllPostsResponse" message="tns:getAllPostsResponse"></output>
</operation>
<operation name="deletePostById">
<input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="https://github.com/chenjianjx/wsdl2html/BbsWebService/deletePostByIdRequest" message="tns:deletePostById"></input>
<output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="https://github.com/chenjianjx/wsdl2html/BbsWebService/deletePostByIdResponse" message="tns:deletePostByIdResponse"></output>
</operation>
<operation name="getPostsByIds">
<input xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="https://github.com/chenjianjx/wsdl2html/BbsWebService/getPostsByIdsRequest" message="tns:getPostsByIds"></input>
<output xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" ns12:Action="https://github.com/chenjianjx/wsdl2html/BbsWebService/getPostsByIdsResponse" message="tns:getPostsByIdsResponse"></output>
</operation>
<operation name="getAllPostsWithoutOverload">
<input xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" ns13:Action="https://github.com/chenjianjx/wsdl2html/BbsWebService/getAllPostsWithoutOverloadRequest" message="tns:getAllPostsWithoutOverload"></input>
<output xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" ns14:Action="https://github.com/chenjianjx/wsdl2html/BbsWebService/getAllPostsWithoutOverloadResponse" message="tns:getAllPostsWithoutOverloadResponse"></output>
</operation>
<operation name="getAllPostIdsWithoutOverload">
<input xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" ns15:Action="https://github.com/chenjianjx/wsdl2html/BbsWebService/getAllPostIdsWithoutOverloadRequest" message="tns:getAllPostIdsWithoutOverload"></input>
<output xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata" ns16:Action="https://github.com/chenjianjx/wsdl2html/BbsWebService/getAllPostIdsWithoutOverloadResponse" message="tns:getAllPostIdsWithoutOverloadResponse"></output>
</operation>
<operation name="refreshToken" parameterOrder="parameters oldToken">
<input xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata" ns17:Action="https://github.com/chenjianjx/wsdl2html/BbsWebService/refreshTokenRequest" message="tns:refreshToken"></input>
<output xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata" ns18:Action="https://github.com/chenjianjx/wsdl2html/BbsWebService/refreshTokenResponse" message="tns:refreshTokenResponse"></output>
</operation>
<operation name="oldOrEven">
<input xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata" ns19:Action="https://github.com/chenjianjx/wsdl2html/BbsWebService/oldOrEvenRequest" message="tns:oldOrEven"></input>
<output xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata" ns20:Action="https://github.com/chenjianjx/wsdl2html/BbsWebService/oldOrEvenResponse" message="tns:oldOrEvenResponse"></output>
</operation>
</portType>
</definitions>